@media (min-width:980px) {
    .menu button{
       font-size: 14px;
       margin: 10px;
       max-width : 350px;
       min-width : 200px;
    }
    .boxOpcoesCaixa div.centralizarDiv{
       width : 400px;
    }
    .boxOpcoesCaixa button{
       min-width : 100%;
    }
}
@media (min-width:481px) and (max-width:979px) {
   .menu button{
       font-size: 12px;
       margin: 10px;
       max-width : 350px;
       min-width : 100%;
    }
}
@media (max-width:480px) {
   .menu button{
       font-size: 12px;
       margin: 5px;
       max-width : 350px;
       min-width : 100%;
    }
}

body {
   min-width : 216px;
}

.centralizarDiv{
    margin: 0 auto;
}

.menu{
    
}

.menu .btn-group{
    white-space: normal;
}

.menu .boxAcoes{
}

.menu .boxContasAPagar{
}

.menu .boxContasAReceber{
}
